@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
header {
    display: grid;
    background-color: aqua;
    color: black;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.name {
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

ul li {
    color: black;
}

ul {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aqua;
    color: black;
}

img {
    max-width: 300px;
}

main {
    background-color: brown;
}

.lessons {
    display: flex;
    text-align: center;
    flex-direction: column;
}

h2 {
    text-align: center;
}

a {
    color: black;
}

li a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: #800080;
}

a:hover {
    color: red;
    text-decoration: underline;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

footer {
    background-color: aqua;
    padding-top: 40px;
    text-align: center;
}

.list2b {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    padding: 0;
    list-style: none;
    counter-reset: li;
    width: 500px;
}

.list2b li {
    position: relative;
    border: 2px solid #DDDDDD;
    background: white;
    padding: 16px 20px 16px 28px;
    margin: 12px 0 12px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.list2b li:hover {
    background: #F0F5FB;
    border: 2px solid #ADCEE9;
}

.list2b li:before {
    line-height: 32px;
    position: absolute;
    top: 4px;
    left: -40px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: #77AEDB;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.list2b li:hover:before {
    width: 46px;
    background: #337AB7;
}

.list2b li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-left-color: #77AEDB;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}

.list2b li:hover:after {
    margin-left: 6px;
    border-left-color: #337AB7;
}