@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
}

.contrast {
    grid-column: 1;
}

.visual-hierarchy {
    grid-column: 2;
}

.repetition {
    grid-column: 3;
}

.contrast,
.visual-hierarchy,
.repetition {
    padding-left: 30px;
}

img {
    max-width: 200px;
}