@media (min-width:60em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
    }
    main section:nth-child(3) {
        grid-column: span 1;
    }
    img {
        width: 300px;
    }
}

body {
    background-color: rgb(166, 135, 250);
}