@media (min-width: 37.5em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main section:nth-child(2) {
        display: block;
    }
    main section:nth-child(3) {
        grid-column: span 2;
    }
    main picture {
        display: block;
    }
    main section picture img {
        width: 100%;
        height: auto;
        border: 1px solid black;
    }
}

body {
    background-color: rgb(166, 135, 250);
}