@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
html {
    font-family: 'Montserrat', sans-serif;
}

.navmenu {
    display: flex;
}

.navmenu li {
    display: block;
    flex: 1 1 auto;
}

.navmenu a {
    text-align: center;
}

.navmenu li:first-child {
    display: none;
}

header img {
    width: 120px;
}

.wesummary {
    position: absolute;
    top: 0px;
    left: 75px;
    display: block;
}

.themotto {
    font-size: 20px;
}

.fiforecast {
    display: block;
    padding: 5px;
    text-align: center;
}

.fiforecast td {
    padding: 10px;
    text-align: center;
    align-items: center;
}

.fiforecast table {
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 1px solid black;
}

.forecast {
    max-width: 100%;
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 10px;
}

.article1 img {
    object-fit: cover;
}

.article1 {
    height: 450px;
}

.address img {
    width: 300px;
    display: block;
    padding: 10px;
}

.container {
    grid-template-columns: repeat(2, 1fr);
}

.container img {
    padding: 5px;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
}

article:nth-child(2) .image {
    grid-column: 1;
}

article:nth-child(2) .content {
    grid-row: 1;
    grid-column: 2;
}

.image {
    width: 100%;
    padding: 10px;
}