

@media only screen and (min-width: 900px) {

	header{
        font-size: 1rem;
		grid: 1fr / 1fr 1fr 2fr 1fr;
        width: 100%;
        
    }



	nav {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	.social {
		grid-column: 4/5;
	}

	.logo {
        width: 100px;
    }

    

   

    .navigation {
        
		display: flex;
		position: relative;
        
        
	}


   

	.navigation li {
		display: block;
		
        width: auto;
	}

	.navigation a {
		text-align: center;
        border: none;
        
	}

    button {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr  ;
        
        grid-gap: 10px;
      
        padding: 10px;
      }
      
   
      img{
          max-width: 100%;
      }
      
      .grid-container > div {
        /* background-color: #ccc; */
        text-align: center;
        padding:  0;
        font-size: 18px;
      }
      
      .item2 {
        grid-column: 2/5;
        grid-row: 1/3;
        background-color: aquamarine;
        box-shadow: 3px 3px 3px #ccc;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
      
      }
    .item2  picture img{
      height: 100%;
        
     }

   
     
      .item1{
          grid-column: 1/2;
          grid-row:1 ;
        
          
      }
    
      .item3{
          grid-column: 5/8;
          grid-row: 1/4;
 
      }
      .spotilight1{
        
        background-color:#bee9f5;
       
    }

    .spotilight2{
        
        background-color:#bee9f5;
    }
      
      .item4{
          grid-column: 1/2;
          grid-row: 2;
      }
      
      .item5{
          grid-column: 1/2 ;
          grid-row: 3;
      
      }
      
      .item7{
          grid-column: 2/5;
          grid-row: 4/3;
        
          
          
      }

      
 

     
 .position-left{
    position: absolute;
    
    top: 170px;
    font-size: 18px;
    padding: 10px;
 
}
.spotilight1{
        
    background-color:#87cbde;
    
    padding: 1rem;
}

.spotilight2{
    
    background-color: #87cbde;
  
}
.position-right{
    position: absolute;
     bottom: 65px;
    right: 360px;
     font-size: 18px;
    
    
    background-color: #87cbde;

    
    box-shadow: 3px 3px 3px ;

   }
      
   .position-right a {
       color: black;
     
   }

   main{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr  ;
    grid-gap: 20px;
    max-width: 960px;
    margin: auto;
    
}

.centering{
    text-align: center;
    padding: .5rem;
}



 }

    
 picture
 {
    width: 100%;
    height: auto;
    
    margin: 0px 0px 20px;
    box-shadow:2px 2px 9px 2px  #ccc;
    border-radius: 7px 7px 2px 2px ;
    background-color:#cef4ff; 
    
    font-family: 'Ubuntu Condensed', sans-serif;
    overflow: hidden;
    font-size: 16px;
  
 
}

picture{
 
     height: 90%;
 }
        
      
      
    
 .inner-img {
    transition: 0.3s;
  }
  
  .inner-img:hover {
    transform: scale(1.2);
  }
  .centers{
      text-align: center;
  }
 