@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@media only screen and (min-width: 37.5em) {
    h1 {
        font-size: 32px;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    td img {
        max-width: 225px;
    }
    p {
        font-size: 18px;
    }
}

html {
    font-family: 'Montserrat', sans-serif;
}